.resize{
  height:100px;
  width:100px;
}

body{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
}

.row{
  text-align: center;
}

a {
  color: red;
  text-decoration: underline;
}
